In [ ]:
#-------------------------------------------------------------------------------
#Instalando as bibliotecas necessárias para o funcionamento dos códigos
#-------------------------------------------------------------------------------
!pip install mysql-connector-python
!pip install pandas sqlalchemy pymysql
!pip install pandas google-cloud-storage mysql-connector-python
import pandas as pd
import mysql.connector
from mysql.connector import Error
from google.cloud import storage
import os
import seaborn as sns
import matplotlib.pyplot as plt

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 77.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.35)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 3.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.10/dist-packages (2.8.0)
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (9.0.0)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage) (2.27.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage) (2.19.2)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage) (2.4.1)
Requirement already satisfied: google-resumable-media>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage) (2.7.2)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage) (2.32.3)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (1.65.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (3.20.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage) (1.24.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-resumable-media>=2.3.2->google-cloud-storage) (1.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2024.8.30)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-cloud-storage) (0.6.1)

In [ ]:
#Autenticação com GCP
from google.colab import auth
auth.authenticate_user()

In [ ]:
#-------------------------------------------------------------------------------
#Colocando os arquivos csv no Bucket
#-------------------------------------------------------------------------------

# Inicialize o cliente
client = storage.Client()

# Defina o nome do bucket
bucket_name = 'projeto_01_soulcode'
bucket = client.bucket(bucket_name)

# Lista de arquivos a serem enviados
arquivos_para_enviar = ['categorias.csv', 'clientes.csv', 'fornecedores.csv', 'funcionarios.csv','produtos.csv','vendas.csv']

# Caminho local onde os arquivos estão armazenados
caminho_local_dos_arquivos = ['/content/categorias.csv', '/content/clientes.csv', '/content/fornecedores.csv', '/content/funcionarios.csv','/content/produtos.csv','/content/vendas.csv']

# Envia cada arquivo para o Cloud Storage
for caminho_completo_do_arquivo, nome_arquivo in zip(caminho_local_dos_arquivos, arquivos_para_enviar):
    destination_blob_path = f'dados-brutos/{nome_arquivo}'
    blob = bucket.blob(destination_blob_path)
    blob.upload_from_filename(caminho_completo_do_arquivo)
    print(f'Arquivo {nome_arquivo} enviado para o Cloud Storage na pasta csv com sucesso!')

Arquivo categorias.csv enviado para o Cloud Storage na pasta csv com sucesso!
Arquivo clientes.csv enviado para o Cloud Storage na pasta csv com sucesso!
Arquivo fornecedores.csv enviado para o Cloud Storage na pasta csv com sucesso!
Arquivo funcionarios.csv enviado para o Cloud Storage na pasta csv com sucesso!
Arquivo produtos.csv enviado para o Cloud Storage na pasta csv com sucesso!
Arquivo vendas.csv enviado para o Cloud Storage na pasta csv com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
#Retornando os arquivos que estavam no bucket e seram utilizados no colab
#-------------------------------------------------------------------------------

#Função para buscar múltiplos arquivos CSV do GCS e armazená-los separadamente
def read_multiple_csv_from_gcs(bucket_name, folder_name):
    # Cria o cliente GCS
    client = storage.Client()

    # Acessa o bucket
    bucket = client.get_bucket(bucket_name)

    # Lista todos os arquivos CSV na pasta especificada
    blobs = bucket.list_blobs(prefix=folder_name)

    # Dicionário para armazenar DataFrames
    dataframes = {}

    # Itera sobre os blobs e baixa apenas arquivos CSV
    for blob in blobs:
        if blob.name.endswith('.csv'):
            local_file_path = f'/tmp/{blob.name.split("/")[-1]}'

            # Faz o download do arquivo CSV
            blob.download_to_filename(local_file_path)

            try:
                # Lê o CSV e armazena no dicionário
                df = pd.read_csv(local_file_path, engine='python', on_bad_lines='skip')
                dataframes[blob.name] = df  # Usa o nome do blob como chave
            except pd.errors.ParserError as e:
                print(f"Erro ao processar {blob.name}: {e}")

    # Verifica se algum DataFrame foi adicionado à lista
    if len(dataframes) == 0:
        raise ValueError("Nenhum arquivo CSV válido foi encontrado.")

    return dataframes

# Exemplo de uso
bucket_name = 'projeto_01_soulcode'
folder_name = 'dados-brutos/'  # Pasta onde estão os arquivos CSV

# Lê e armazena todos os CSVs separadamente
dataframes = read_multiple_csv_from_gcs(bucket_name, folder_name)

# Exibe as primeiras linhas de cada DataFrame armazenado
for file_name, df in dataframes.items():
    print(f"Exibindo dados de: {file_name}")
    display(df.head())  # Exibe as primeiras linhas do DataFrame

Exibindo dados de: dados-brutos/categorias.csv

   id_categoria         nome
0             1  Eletrônicos
1             2       Roupas
2             3    Alimentos
3             4       Móveis
4             5   Cosméticos

Exibindo dados de: dados-brutos/clientes.csv

,id_cliente,nome,telefone,cidade,email,genero,endereco,renda,data_nascimento
0,1,João Silva,(11) 98765-4321,São Paulo,joao@email.com,Masculino,"Rua A, 123",5000.0,1980-05-10
1,2,Maria Santos,(21) 98765-5432,Rio de Janeiro,maria@email.com,Feminino,"Av. B, 456",4000.0,1985-08-15
2,3,Carlos Oliveira,(31) 98765-6543,Belo Horizonte,carlos@email.com,Masculino,"Rua C, 789",4500.0,1982-03-25
3,4,Ana Souza,(51) 98765-7654,Porto Alegre,ana@email.com,Feminino,"Av. D, 987",3800.0,1990-12-08
4,5,Pedro Santos,(41) 98765-8765,Curitiba,pedro@email.com,Masculino,"Rua E, 654",6000.0,1975-09-14

Exibindo dados de: dados-brutos/fornecedores.csv

   id_fornecedor          nome          cidade    endereco  cnpj
0              1  Fornecedor A       São Paulo  Rua G, 234  1234
1              2  Fornecedor B  Rio de Janeiro  Av. H, 567  9876
2              3  Fornecedor C  Belo Horizonte  Rua I, 890  5678

Exibindo dados de: dados-brutos/funcionarios.csv

,id_funcionario,nome,data_nascimento,genero,estado_civil,dependentes,cargo,salario
0,1,Fernando Silva,1982-07-15,Masculino,Casado,2,Vendedor,3500.0
1,2,Aline Costa,1980-12-20,Feminino,Solteira,0,Gerente,6000.0
2,3,Marcos Oliveira,1975-03-10,Masculino,Divorciado,1,Caixa,2800.0
3,4,Patrícia Souza,1988-06-05,Feminino,Solteira,0,Vendedora,3200.0
4,5,Rafael Martins,1983-09-18,Masculino,Casado,3,Gerente,6500.0

Exibindo dados de: dados-brutos/produtos.csv

   id_produto            nome   preco  id_categoria  id_fornecedor
0           1    Smartphone X  1500.0             1              1
1           2      Notebook Y  3000.0             1              2
2           3      Camiseta Z    50.0             2              3
3           4  Arroz Integral    10.0             3              3
4           5    Sofá Confort  2500.0             4              1

Exibindo dados de: dados-brutos/vendas.csv

   id_venda  id_produto  quantidade  id_cliente  id_funcionario        data
0         1           1           2           1               1  2024-07-01
1         2           3           1           2               2  2024-07-02
2         3           5           1           3               1  2024-07-03
3         4           2           1           4               3  2024-07-04
4         5           4           3           5               2  2024-07-05

In [ ]:
print(df.isnull().sum())

id_venda          0
id_produto        0
quantidade        0
id_cliente        0
id_funcionario    0
data              0
dtype: int64

In [ ]:
#-------------------------------------------------------------------------------
#Conexão com a instância para criação dos bancos de dados
#-------------------------------------------------------------------------------
def connect_to_database():
    try:
        connection = mysql.connector.connect(
            host='34.30.0.189',  # Endereço local do Cloud SQL Auth Proxy
            user='alberes',  # Usuário configurado no MySQL
            password='AlbGabi233799',  # Senha do root configurada no MySQL
        )
        if connection.is_connected():
            print("Conexão bem-sucedida com o Google Cloud SQL!")
            return connection
    except Error as e:
        print("Erro ao conectar ao banco de dados:", e)
        return None

connection = connect_to_database()

Conexão bem-sucedida com o Google Cloud SQL!

In [ ]:
#-------------------------------------------------------------------------------
#Criação dos bancos de Dados
#-------------------------------------------------------------------------------

#Aqui mostra apenas a criação do primeiro Banco de dados para demonstrar de forma didática como foi realizado, não será repedido para os demais.
import mysql.connector
from mysql.connector import Error

 #Função para criar todos os bancos de dados
def criar_banco(conexao, lista_bancos):
    try:
        cursor = conexao.cursor()
        for basededados in lista_bancos:
            cursor.execute(f"CREATE DATABASE IF NOT EXISTS {basededados}")
            conexao.commit()
            print(f"Banco de dados {basededados} criado ou já existente.")
    except Error as e:
        print(f"Erro ao criar banco de dados: {e}")

# Lista dos 01  bancos de dados
lista_bancos = ['bd_loja2']

# Chamando a função para criar os bancos de dados
conexao = connect_to_database() # chama a função definida anteriormente e atribui o resultado a conexao

if conexao: # verificar se a conexão foi bem-sucedida
    criar_banco(conexao, lista_bancos)

Conexão bem-sucedida com o Google Cloud SQL!
Banco de dados bd_loja2 criado ou já existente.

In [ ]:
#-------------------------------------------------------------------------------
#Criação da tabela "categorias" do banco de dados bd_loja
#-------------------------------------------------------------------------------
def criar_tabela(conexao):
    try:
        cursor = conexao.cursor()
        cursor.execute('USE bd_loja2;')
        cursor.execute('''
                             CREATE TABLE `categorias` (
          `id_categoria` int NOT NULL,
          `nome` varchar(50) DEFAULT NULL,
          PRIMARY KEY (`id_categoria`)
        )
        ''')
        conexao.commit()  # Corrigido commit()
        print('Tabela criada ou já existente.')
    except Exception as e:  # Generalizar para capturar qualquer erro
        print(f'Erro ao criar tabela: {e}')
    finally:
        cursor.close()  # Sempre fechar o cursor após o uso

# Criar a tabela
criar_tabela(conexao)

Tabela criada ou já existente.

In [ ]:
#-------------------------------------------------------------------------------
#Inserção dos dados na tabela categorias
#-------------------------------------------------------------------------------
def insert_marcas_fixas(connection):
    try:
        cursor = connection.cursor()
        cursor.execute('USE bd_loja2')

        # Consulta SQL para inserir múltiplos valores fixos
        insert_query = """

INSERT INTO `categorias` VALUES (1,'Eletrônicos'),(2,'Roupas'),(3,'Alimentos'),(4,'Móveis'),(5,'Cosméticos');
 """
        # Executar a consulta SQL
        cursor.execute(insert_query)

        # Confirmar a transação
        connection.commit()
        print("Dados inseridos com sucesso!")
    except Error as e:
        print("Erro ao inserir dados", e)
        # Fazer o rollback em caso de erro
        connection.rollback()
    finally:
        cursor.close()

# Chamar a função de conexão e inserir os dados
connection = connect_to_database()
insert_marcas_fixas(connection)

Conexão bem-sucedida com o Google Cloud SQL!
Erro ao inserir dados 1062 (23000): Duplicate entry '1' for key 'categorias.PRIMARY'

In [ ]:
#-------------------------------------------------------------------------------
#Criação da tabela "clientes" do banco de dados bd_loja
#-------------------------------------------------------------------------------
def criar_tabela(conexao):
    try:
        cursor = conexao.cursor()
        cursor.execute('USE bd_loja2;')
        cursor.execute('''
                            CREATE TABLE `clientes` (
          `id_cliente` int NOT NULL,
          `nome` varchar(50) DEFAULT NULL,
          `telefone` varchar(50) DEFAULT NULL,
          `cidade` varchar(50) DEFAULT NULL,
          `email` varchar(50) DEFAULT NULL,
          `genero` varchar(50) DEFAULT NULL,
          `endereco` varchar(50) DEFAULT NULL,
          `renda` float DEFAULT NULL,
          `data_nascimento` date DEFAULT NULL,
          PRIMARY KEY (`id_cliente`)
        )
        ''')
        conexao.commit()  # Corrigido commit()
        print('Tabela criada ou já existente.')
    except Exception as e:  # Generalizar para capturar qualquer erro
        print(f'Erro ao criar tabela: {e}')
    finally:
        cursor.close()  # Sempre fechar o cursor após o uso

# Criar a tabela
criar_tabela(conexao)

Tabela criada ou já existente.

In [ ]:
#-------------------------------------------------------------------------------
#Inserção dos dados na tabela clientes
#-------------------------------------------------------------------------------
def insert_marcas_fixas(connection):
    try:
        cursor = connection.cursor()
        cursor.execute('USE bd_loja2')

        # Consulta SQL para inserir múltiplos valores fixos
        insert_query = """

INSERT INTO `clientes` VALUES (1,'João Silva','(11) 98765-4321','São Paulo','joao@email.com','Masculino','Rua A, 123',5000,'1980-05-10'),(2,'Maria Santos','(21) 98765-5432','Rio de Janeiro','maria@email.com','Feminino','Av. B, 456',4000,'1985-08-15'),(3,'Carlos Oliveira','(31) 98765-6543','Belo Horizonte','carlos@email.com','Masculino','Rua C, 789',4500,'1982-03-25'),(4,'Ana Souza','(51) 98765-7654','Porto Alegre','ana@email.com','Feminino','Av. D, 987',3800,'1990-12-08'),(5,'Pedro Santos','(41) 98765-8765','Curitiba','pedro@email.com','Masculino','Rua E, 654',6000,'1975-09-14'),(6,'Luciana Lima','(11) 98765-9876','São Paulo','luciana@email.com','Feminino','Rua F, 321',4200,'1987-06-30'),(7,'Rafael Costa','(21) 98765-8765','Rio de Janeiro','rafael@email.com','Masculino','Av. G, 654',5500,'1983-04-18'),(8,'Mariana Oliveira','(31) 98765-7654','Belo Horizonte','mariana@email.com','Feminino','Rua H, 987',4800,'1989-02-22'),(9,'Gustavo Martins','(51) 98765-6543','Porto Alegre','gustavo@email.com','Masculino','Av. I, 234',7000,'1980-10-15'),(10,'Camila Silva','(41) 98765-5432','Curitiba','camila@email.com','Feminino','Rua J, 876',3200,'1992-07-05'),(11,'Felipe Santos','(11) 98765-4321','São Paulo','felipe@email.com','Masculino','Av. K, 567',5800,'1986-11-28'),(12,'Carla Lima','(21) 98765-3210','Rio de Janeiro','carla@email.com','Feminino','Rua L, 1098',3900,'1995-03-14'),(13,'Bruno Oliveira','(31) 98765-2109','Belo Horizonte','bruno@email.com','Masculino','Av. M, 432',4500,'1984-08-07'),(14,'Patrícia Costa','(51) 98765-1098','Porto Alegre','patricia@email.com','Feminino','Rua N, 765',4200,'1981-12-31'),(15,'Rodrigo Martins','(41) 98765-0987','Curitiba','rodrigo@email.com','Masculino','Av. O, 321',6500,'1978-06-23'),(16,'Juliana Ferreira','(11) 98765-9876','São Paulo','juliana@email.com','Feminino','Rua P, 876',4800,'1987-09-17'),(17,'Gabriel Silva','(21) 98765-8765','Rio de Janeiro','gabriel@email.com','Masculino','Av. Q, 543',5500,'1982-02-19'),(18,'Vanessa Souza','(31) 98765-7654','Belo Horizonte','vanessa@email.com','Feminino','Rua R, 234',4000,'1990-04-03'),(19,'Fernando Oliveira','(51) 98765-6543','Porto Alegre','fernando@email.com','Masculino','Av. S, 987',7000,'1983-11-11'),(20,'Larissa Santos','(41) 98765-5432','Curitiba','larissa@email.com','Feminino','Rua T, 432',3200,'1993-08-25'),(21,'Ricardo Lima','(11) 98765-4321','São Paulo','ricardo@email.com','Masculino','Av. U, 1098',5800,'1988-12-05'),(22,'Amanda Costa','(21) 98765-3210','Rio de Janeiro','amanda@email.com','Feminino','Rua V, 765',3900,'1996-05-19'),(23,'Renato Oliveira','(31) 98765-2109','Belo Horizonte','renato@email.com','Masculino','Av. W, 321',4500,'1985-10-14'),(24,'Tatiana Costa','(51) 98765-1098','Porto Alegre','tatiana@email.com','Feminino','Rua X, 876',4200,'1982-01-27'),(25,'Marcos Santos','(41) 98765-0987','Curitiba','marcos@email.com','Masculino','Av. Y, 987',6500,'1979-07-21'),(26,'Isabela Ferreira','(11) 98765-9876','São Paulo','isabela@email.com','Feminino','Rua Z, 234',4800,'1988-10-03'),(27,'Lucas Silva','(21) 98765-8765','Rio de Janeiro','lucas@email.com','Masculino','Av. A1, 543',5500,'1983-03-25'),(28,'Natália Souza','(31) 98765-7654','Belo Horizonte','natalia@email.com','Feminino','Rua B1, 987',4000,'1991-05-08'),(29,'Leandro Oliveira','(51) 98765-6543','Porto Alegre','leandro@email.com','Masculino','Av. C1, 321',7000,'1984-12-17'),(30,'Julia Santos','(41) 98765-5432','Curitiba','julia@email.com','Feminino','Rua D1, 876',3200,'1994-09-10'),(31,'Marcelo Lima','(11) 98765-4321','São Paulo','marcelo@email.com','Masculino','Av. E1, 1098',5800,'1989-01-22'),(32,'Carolina Costa','(21) 98765-3210','Rio de Janeiro','carolina@email.com','Feminino','Rua F1, 765',3900,'1997-04-15'),(33,'Paulo Oliveira','(31) 98765-2109','Belo Horizonte','paulo@email.com','Masculino','Av. G1, 321',4500,'1986-11-18'),(34,'Fernanda Costa','(51) 98765-1098','Porto Alegre','fernanda@email.com','Feminino','Rua H1, 876',4200,'1983-02-09'),(35,'Gabriel Santos','(41) 98765-0987','Curitiba','gabriel@email.com','Masculino','Av. I1, 987',6500,'1980-08-13'),(36,'Vanessa Ferreira','(11) 98765-9876','São Paulo','vanessa@email.com','Feminino','Rua J1, 234',4800,'1989-11-26'),(37,'Eduardo Silva','(21) 98765-8765','Rio de Janeiro','eduardo@email.com','Masculino','Av. K1, 543',5500,'1984-04-30'),(38,'Renata Oliveira','(31) 98765-7654','Belo Horizonte','renata@email.com','Feminino','Rua L1, 987',4000,'1992-06-03'),(39,'Thiago Martins','(51) 98765-6543','Porto Alegre','thiago@email.com','Masculino','Av. M1, 321',7000,'1985-01-14'),(40,'Mariana Santos','(41) 98765-5432','Curitiba','mariana@email.com','Feminino','Rua N1, 876',3200,'1993-04-27');

 """

        # Executar a consulta SQL
        cursor.execute(insert_query)

        # Confirmar a transação
        connection.commit()
        print("Dados inseridos com sucesso!")
    except Error as e:
        print("Erro ao inserir dados", e)
        # Fazer o rollback em caso de erro
        connection.rollback()
    finally:
        cursor.close()

# Chamar a função de conexão e inserir os dados
connection = connect_to_database()
insert_marcas_fixas(connection)

Conexão bem-sucedida com o Google Cloud SQL!
Dados inseridos com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
#Criação da tabela "fornecedores" do banco de dados bd_loja
#-------------------------------------------------------------------------------
def criar_tabela(conexao):
    try:
        cursor = conexao.cursor()
        cursor.execute('USE bd_loja2;')
        cursor.execute('''
                           CREATE TABLE `fornecedores` (
          `id_fornecedor` int NOT NULL,
          `nome` varchar(50) DEFAULT NULL,
          `cidade` varchar(50) DEFAULT NULL,
          `endereco` varchar(50) DEFAULT NULL,
          `cnpj` int DEFAULT NULL,
          PRIMARY KEY (`id_fornecedor`)
        )
        ''')
        conexao.commit()  # Corrigido commit()
        print('Tabela criada ou já existente.')
    except Exception as e:  # Generalizar para capturar qualquer erro
        print(f'Erro ao criar tabela: {e}')
    finally:
        cursor.close()  # Sempre fechar o cursor após o uso

# Criar a tabela
criar_tabela(conexao)

Tabela criada ou já existente.

In [ ]:
#-------------------------------------------------------------------------------
#Inserção dos dados na tabela fornecedores
#-------------------------------------------------------------------------------
def insert_marcas_fixas(connection):
    try:
        cursor = connection.cursor()
        cursor.execute('USE bd_loja2')

        # Consulta SQL para inserir múltiplos valores fixos
        insert_query = """

INSERT INTO `fornecedores` VALUES (1,'Fornecedor A','São Paulo','Rua G, 234',1234),(2,'Fornecedor B','Rio de Janeiro','Av. H, 567',9876),(3,'Fornecedor C','Belo Horizonte','Rua I, 890',5678);



 """

        # Executar a consulta SQL
        cursor.execute(insert_query)

        # Confirmar a transação
        connection.commit()
        print("Dados inseridos com sucesso!")
    except Error as e:
        print("Erro ao inserir dados", e)
        # Fazer o rollback em caso de erro
        connection.rollback()
    finally:
        cursor.close()

# Chamar a função de conexão e inserir os dados
connection = connect_to_database()
insert_marcas_fixas(connection)

Conexão bem-sucedida com o Google Cloud SQL!
Dados inseridos com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
#Criação da tabela "funcionarios" do banco de dados bd_loja
#-------------------------------------------------------------------------------
def criar_tabela(conexao):
    try:
        cursor = conexao.cursor()
        cursor.execute('USE bd_loja2;')
        cursor.execute('''
                           CREATE TABLE `funcionarios` (
          `id_funcionario` int NOT NULL,
          `nome` varchar(50) DEFAULT NULL,
          `data_nascimento` date DEFAULT NULL,
          `genero` varchar(50) DEFAULT NULL,
          `estado_civil` varchar(50) DEFAULT NULL,
          `dependentes` int DEFAULT NULL,
          `cargo` varchar(50) DEFAULT NULL,
          `salario` float DEFAULT NULL,
          PRIMARY KEY (`id_funcionario`)
        )
        ''')
        conexao.commit()  # Corrigido commit()
        print('Tabela criada ou já existente.')
    except Exception as e:  # Generalizar para capturar qualquer erro
        print(f'Erro ao criar tabela: {e}')
    finally:
        cursor.close()  # Sempre fechar o cursor após o uso

# Criar a tabela
criar_tabela(conexao)

Tabela criada ou já existente.

In [ ]:
#-------------------------------------------------------------------------------
#Inserção dos dados na tabela funcionários
#-------------------------------------------------------------------------------
def insert_marcas_fixas(connection):
    try:
        cursor = connection.cursor()
        cursor.execute('USE bd_loja2')

        # Consulta SQL para inserir múltiplos valores fixos
        insert_query = """

INSERT INTO `funcionarios` VALUES (1,'Fernando Silva','1982-07-15','Masculino','Casado',2,'Vendedor',3500),(2,'Aline Costa','1980-12-20','Feminino','Solteira',0,'Gerente',6000),(3,'Marcos Oliveira','1975-03-10','Masculino','Divorciado',1,'Caixa',2800),(4,'Patrícia Souza','1988-06-05','Feminino','Solteira',0,'Vendedora',3200),(5,'Rafael Martins','1983-09-18','Masculino','Casado',3,'Gerente',6500),(6,'Carla Lima','1990-04-25','Feminino','Solteira',0,'Vendedora',3000),(7,'Rodrigo Santos','1977-11-30','Masculino','Divorciado',2,'Caixa',2800),(8,'Mariana Ferreira','1985-02-15','Feminino','Casada',1,'Gerente',6000),(9,'Lucas Costa','1989-08-10','Masculino','Solteiro',0,'Vendedor',3400),(10,'Ana Oliveira','1984-03-20','Feminino','Casada',2,'Caixa',3000);



 """

        # Executar a consulta SQL
        cursor.execute(insert_query)

        # Confirmar a transação
        connection.commit()
        print("Dados inseridos com sucesso!")
    except Error as e:
        print("Erro ao inserir dados", e)
        # Fazer o rollback em caso de erro
        connection.rollback()
    finally:
        cursor.close()

# Chamar a função de conexão e inserir os dados
connection = connect_to_database()
insert_marcas_fixas(connection)

Conexão bem-sucedida com o Google Cloud SQL!
Dados inseridos com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
#Criação da tabela "produtos" do banco de dados bd_loja
#-------------------------------------------------------------------------------
def criar_tabela(conexao):
    try:
        cursor = conexao.cursor()
        cursor.execute('USE bd_loja2;')
        cursor.execute('''
                           CREATE TABLE `produtos` (
          `id_produto` int NOT NULL,
          `nome` varchar(50) DEFAULT NULL,
          `preco` float DEFAULT NULL,
          `id_categoria` int DEFAULT NULL,
          `id_fornecedor` int DEFAULT NULL,
          PRIMARY KEY (`id_produto`),
          KEY `id_fornecedor` (`id_fornecedor`),
          KEY `id_categoria` (`id_categoria`),
          CONSTRAINT `produtos_ibfk_1` FOREIGN KEY (`id_fornecedor`) REFERENCES `fornecedores` (`id_fornecedor`),
          CONSTRAINT `produtos_ibfk_2` FOREIGN KEY (`id_categoria`) REFERENCES `categorias` (`id_categoria`)
        )
        ''')
        conexao.commit()  # Corrigido commit()
        print('Tabela criada ou já existente.')
    except Exception as e:  # Generalizar para capturar qualquer erro
        print(f'Erro ao criar tabela: {e}')
    finally:
        cursor.close()  # Sempre fechar o cursor após o uso

# Criar a tabela
criar_tabela(conexao)

Tabela criada ou já existente.

In [ ]:
#-------------------------------------------------------------------------------
#Inserção dos dados na tabela produtos
#-------------------------------------------------------------------------------
def insert_marcas_fixas(connection):
    try:
        cursor = connection.cursor()
        cursor.execute('USE bd_loja2')

        # Consulta SQL para inserir múltiplos valores fixos
        insert_query = """

INSERT INTO `produtos` VALUES (1,'Smartphone X',1500,1,1),(2,'Notebook Y',3000,1,2),(3,'Camiseta Z',50,2,3),(4,'Arroz Integral',10,3,3),(5,'Sofá Confort',2500,4,1),(6,'Shampoo Revitalizante',20,5,2),(7,'Monitor LED 24\"',800,1,1),(8,'Calça Jeans',120,2,3),(9,'Feijão Carioca',8,3,3),(10,'Mesa de Jantar',1500,4,1),(11,'Condicionador Hidratante',25,5,2),(12,'Fone de Ouvido Bluetooth',100,1,1),(13,'Vestido Floral',150,2,3),(14,'Azeite de Oliva Extra Virgem',15,3,3),(15,'Guarda-Roupa 6 Portas',1800,4,1),(16,'Perfume Masculino',80,5,2),(17,'Mouse Sem Fio',50,1,1),(18,'Blusa de Frio',80,2,3),(19,'Cereal Matinal',12,3,3),(20,'Sapateira',200,4,1);


 """

        # Executar a consulta SQL
        cursor.execute(insert_query)

        # Confirmar a transação
        connection.commit()
        print("Dados inseridos com sucesso!")
    except Error as e:
        print("Erro ao inserir dados", e)
        # Fazer o rollback em caso de erro
        connection.rollback()
    finally:
        cursor.close()

# Chamar a função de conexão e inserir os dados
connection = connect_to_database()
insert_marcas_fixas(connection)

Conexão bem-sucedida com o Google Cloud SQL!
Dados inseridos com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
#Criação da tabela "vendas" do banco de dados bd_loja
#-------------------------------------------------------------------------------
def criar_tabela(conexao):
    try:
        cursor = conexao.cursor()
        cursor.execute('USE bd_loja2;')
        cursor.execute('''
                          CREATE TABLE `vendas` (
          `id_venda` int NOT NULL,
          `id_produto` int DEFAULT NULL,
          `quantidade` int DEFAULT NULL,
          `id_cliente` int DEFAULT NULL,
          `id_funcionario` int DEFAULT NULL,
          `data` date DEFAULT NULL,
          PRIMARY KEY (`id_venda`),
          KEY `id_cliente` (`id_cliente`),
          KEY `id_funcionario` (`id_funcionario`),
          KEY `id_produto` (`id_produto`),
          CONSTRAINT `vendas_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`),
          CONSTRAINT `vendas_ibfk_2` FOREIGN KEY (`id_funcionario`) REFERENCES `funcionarios` (`id_funcionario`),
          CONSTRAINT `vendas_ibfk_3` FOREIGN KEY (`id_produto`) REFERENCES `produtos` (`id_produto`)
        )
        ''')
        conexao.commit()  # Corrigido commit()
        print('Tabela criada ou já existente.')
    except Exception as e:  # Generalizar para capturar qualquer erro
        print(f'Erro ao criar tabela: {e}')
    finally:
        cursor.close()  # Sempre fechar o cursor após o uso

# Criar a tabela
criar_tabela(conexao)

Tabela criada ou já existente.

In [ ]:
#-------------------------------------------------------------------------------
#Inserção dos dados na tabela vendas
#-------------------------------------------------------------------------------
def insert_marcas_fixas(connection):
    try:
        cursor = connection.cursor()
        cursor.execute('USE bd_loja2')

        # Consulta SQL para inserir múltiplos valores fixos
        insert_query = """

 INSERT INTO `vendas` VALUES (1,1,2,1,1,'2024-07-01'),(2,3,1,2,2,'2024-07-02'),(3,5,1,3,1,'2024-07-03'),(4,2,1,4,3,'2024-07-04'),(5,4,3,5,2,'2024-07-05'),(6,6,2,6,4,'2024-07-06'),(7,8,1,7,5,'2024-07-07'),(8,10,1,8,6,'2024-07-08'),(9,12,3,9,7,'2024-07-09'),(10,14,2,10,8,'2024-07-10'),(11,16,1,11,9,'2024-07-11'),(12,18,1,12,10,'2024-07-12'),(13,20,2,13,1,'2024-07-13'),(14,7,1,14,2,'2024-07-14'),(15,9,3,15,3,'2024-07-15'),(16,11,1,16,4,'2024-07-16'),(17,13,1,17,5,'2024-07-17'),(18,15,2,18,6,'2024-07-18'),(19,17,1,19,7,'2024-07-19'),(20,19,3,20,8,'2024-07-20'),(21,1,1,21,9,'2024-07-21'),(22,3,2,22,10,'2024-07-22'),(23,5,1,23,1,'2024-07-23'),(24,7,3,24,2,'2024-07-24'),(25,9,1,25,3,'2024-07-25'),(26,11,2,26,4,'2024-07-26'),(27,13,1,27,5,'2024-07-27'),(28,15,1,28,6,'2024-07-28'),(29,17,3,29,7,'2024-07-29'),(30,19,1,30,8,'2024-07-30'),(31,2,1,31,9,'2024-07-31'),(32,4,2,32,10,'2024-08-01'),(33,6,1,33,1,'2024-08-02'),(34,8,2,34,2,'2024-08-03'),(35,10,1,35,3,'2024-08-04'),(36,12,1,36,4,'2024-08-05'),(37,14,3,37,5,'2024-08-06'),(38,16,1,38,6,'2024-08-07'),(39,18,1,39,7,'2024-08-08'),(40,20,2,40,8,'2024-08-09'),(41,1,1,1,9,'2024-08-10'),(42,3,2,2,10,'2024-08-11'),(43,5,1,3,1,'2024-08-12'),(44,7,3,4,2,'2024-08-13'),(45,9,1,5,3,'2024-08-14'),(46,11,2,6,4,'2024-08-15'),(47,13,1,7,5,'2024-08-16'),(48,15,1,8,6,'2024-08-17'),(49,17,3,9,7,'2024-08-18'),(50,19,1,10,8,'2024-08-19'),(51,2,1,11,9,'2024-08-20'),(52,4,2,12,10,'2024-08-21'),(53,6,1,13,1,'2024-08-22'),(54,8,2,14,2,'2024-08-23'),(55,10,1,15,3,'2024-08-24'),(56,12,1,16,4,'2024-08-25'),(57,14,3,17,5,'2024-08-26'),(58,16,1,18,6,'2024-08-27'),(59,18,1,19,7,'2024-08-28'),(60,20,2,20,8,'2024-08-29'),(61,1,1,21,9,'2024-08-30'),(62,3,2,22,10,'2024-08-31'),(63,5,1,23,1,'2024-09-01'),(64,7,3,24,2,'2024-09-02'),(65,9,1,25,3,'2024-09-03'),(66,11,2,26,4,'2024-09-04'),(67,13,1,27,5,'2024-09-05'),(68,15,1,28,6,'2024-09-06'),(69,17,3,29,7,'2024-09-07'),(70,19,1,30,8,'2024-09-08'),(71,2,1,31,9,'2024-09-09'),(72,4,2,32,10,'2024-09-10'),(73,6,1,33,1,'2024-09-11'),(74,8,2,34,2,'2024-09-12'),(75,10,1,35,3,'2024-09-13'),(76,12,1,36,4,'2024-09-14'),(77,14,3,37,5,'2024-09-15'),(78,16,1,38,6,'2024-09-16'),(79,18,1,39,7,'2024-09-17'),(80,20,2,40,8,'2024-09-18'),(81,1,1,1,9,'2024-09-19'),(82,3,2,2,10,'2024-09-20'),(83,5,1,3,1,'2024-09-21'),(84,7,3,4,2,'2024-09-22'),(85,9,1,5,3,'2024-09-23'),(86,11,2,6,4,'2024-09-24'),(87,13,1,7,5,'2024-09-25'),(88,15,1,8,6,'2024-09-26'),(89,17,3,9,7,'2024-09-27'),(90,19,1,10,8,'2024-09-28'),(91,2,1,11,9,'2024-09-29'),(92,4,2,12,10,'2024-09-30'),(93,6,1,13,1,'2024-10-01'),(94,8,2,14,2,'2024-10-02'),(95,10,1,15,3,'2024-10-03'),(96,12,1,16,4,'2024-10-04'),(97,14,3,17,5,'2024-10-05'),(98,16,1,18,6,'2024-10-06'),(99,18,1,19,7,'2024-10-07'),(100,20,2,20,8,'2024-10-08'),(101,1,1,21,9,'2024-10-09'),(102,3,2,22,10,'2024-10-10'),(103,5,1,23,1,'2024-10-11'),(104,7,3,24,2,'2024-10-12'),(105,9,1,25,3,'2024-10-13'),(106,11,2,26,4,'2024-10-14'),(107,13,1,27,5,'2024-10-15'),(108,15,1,28,6,'2024-10-16'),(109,17,3,29,7,'2024-10-17'),(110,19,1,30,8,'2024-10-18'),(111,2,1,31,9,'2024-10-19'),(112,4,2,32,10,'2024-10-20'),(113,6,1,33,1,'2024-10-21'),(114,8,2,34,2,'2024-10-22'),(115,10,1,35,3,'2024-10-23'),(116,12,1,36,4,'2024-10-24'),(117,14,3,37,5,'2024-10-25'),(118,16,1,38,6,'2024-10-26'),(119,18,1,39,7,'2024-10-27'),(120,20,2,40,8,'2024-10-28'),(121,1,1,1,9,'2024-10-29'),(122,3,2,2,10,'2024-10-30'),(123,5,1,3,1,'2024-10-31');


 """

        # Executar a consulta SQL
        cursor.execute(insert_query)

        # Confirmar a transação
        connection.commit()
        print("Dados inseridos com sucesso!")
    except Error as e:
        print("Erro ao inserir dados", e)
        # Fazer o rollback em caso de erro
        connection.rollback()
    finally:
        cursor.close()

# Chamar a função de conexão e inserir os dados
connection = connect_to_database()
insert_marcas_fixas(connection)

Conexão bem-sucedida com o Google Cloud SQL!
Dados inseridos com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
#Criação de uma VIEW (loja) para auxiliar na consulta e extração de dados da tabela bd_loja
#-------------------------------------------------------------------------------

# Definindo os parâmetros para conexão
host = '34.30.0.189'
user = 'alberes'
password = 'AlbGabi233799'
database = 'bd_loja2'

# Conectando ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = connection.cursor()

# Consulta SQL para puxar todos os dados da tabela e calcular a média da coluna 'venda'
query = '''
CREATE VIEW lojas AS
SELECT C.nome, C.telefone, C.cidade, C.email, C.genero, C.endereco, C.renda,
       C.data_nascimento, V.quantidade, V.data,
       F.nome AS nome_funcionario, F.data_nascimento AS data_nascimento_funcionario,
       F.genero AS genero_funcionario, F.estado_civil, F.dependentes, F.cargo, F.salario,
       P.nome AS nome_produto, P.preco,
       F2.nome AS nome_fornecedor, F2.endereco AS endereco_fornecedor,
       Cat.nome AS nome_categoria
      FROM clientes C
      INNER JOIN vendas V ON C.id_cliente = V.id_cliente
      INNER JOIN funcionarios F ON V.id_funcionario = F.id_funcionario
      INNER JOIN produtos P ON V.id_produto = P.id_produto
      INNER JOIN fornecedores F2 ON P.id_fornecedor = F2.id_fornecedor
      INNER JOIN categorias Cat ON P.id_categoria = Cat.id_categoria;
'''
cursor.execute(query)  # Execução da consulta
result = cursor.fetchall()  # Armazenando os resultados na variável result

# Pegando o nome das colunas (incluindo a média)
columns = cursor.column_names

# Convertendo para DataFrame
lojas = pd.DataFrame(result, columns=columns)

# Exibindo a tabela pandas com a média calculada
display(lojas)

# Fechando o cursor e a conexão
cursor.close()
connection.close()

Empty DataFrame
Columns: []
Index: []

In [ ]:
#-------------------------------------------------------------------------------
#Conexão como o banco de dados bd_loja através da view lojas
#-------------------------------------------------------------------------------

#Definindo os parâmetros para conexão
host = '34.30.0.189'
user = 'alberes'
password = 'AlbGabi233799'
database = 'bd_loja2'

#Conectando ao banco de dados
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = connection.cursor()

#Consulta SQL para puxar os dados necessários
query = '''
SELECT * FROM lojas

'''
cursor.execute(query)  #Execução da consulta
result = cursor.fetchall()  #Armazenando os resultados na variável result

#Pegando o nome das colunas
columns = [i[0] for i in cursor.description]

#Convertendo para DataFrame
lojas = pd.DataFrame(result, columns=columns)

#Fechando o cursor e a conexão
cursor.close()
connection.close()

#Saída de dados as 5 primeiras linhas
display(lojas.head())

#Gravando o arquivo em csv
df.to_csv('loja.csv', index=True)

,nome,telefone,cidade,email,genero,endereco,renda,data_nascimento,quantidade,data,...,genero_funcionario,estado_civil,dependentes,cargo,salario,nome_produto,preco,nome_fornecedor,endereco_fornecedor,nome_categoria
0,Ana Souza,(51) 98765-7654,Porto Alegre,ana@email.com,Feminino,"Av. D, 987",3800.0,1990-12-08,1,2024-07-04,...,Masculino,Divorciado,1,Caixa,2800.0,Notebook Y,3000.0,Fornecedor B,"Av. H, 567",Eletrônicos
1,Marcelo Lima,(11) 98765-4321,São Paulo,marcelo@email.com,Masculino,"Av. E1, 1098",5800.0,1989-01-22,1,2024-07-31,...,Masculino,Solteiro,0,Vendedor,3400.0,Notebook Y,3000.0,Fornecedor B,"Av. H, 567",Eletrônicos
2,Felipe Santos,(11) 98765-4321,São Paulo,felipe@email.com,Masculino,"Av. K, 567",5800.0,1986-11-28,1,2024-08-20,...,Masculino,Solteiro,0,Vendedor,3400.0,Notebook Y,3000.0,Fornecedor B,"Av. H, 567",Eletrônicos
3,Marcelo Lima,(11) 98765-4321,São Paulo,marcelo@email.com,Masculino,"Av. E1, 1098",5800.0,1989-01-22,1,2024-09-09,...,Masculino,Solteiro,0,Vendedor,3400.0,Notebook Y,3000.0,Fornecedor B,"Av. H, 567",Eletrônicos
4,Felipe Santos,(11) 98765-4321,São Paulo,felipe@email.com,Masculino,"Av. K, 567",5800.0,1986-11-28,1,2024-09-29,...,Masculino,Solteiro,0,Vendedor,3400.0,Notebook Y,3000.0,Fornecedor B,"Av. H, 567",Eletrônicos

In [ ]:
#-------------------------------------------------------------------------------
#criação do bigquery
#project_id = "soulcode-estudo"
#dataset_id = 'loja_bd'
#-------------------------------------------------------------------------------

# Importações
from google.cloud import bigquery
from google.colab import auth

# Autenticar no Google Cloud
auth.authenticate_user()

# Definir o ID do projeto Google Cloud
project_id = "soulcode-estudo" # Substitua pelo Id do seu projeto no Google Cloud

# Criar um cliente para o BigQuery
client = bigquery.Client(project=project_id)

# Configurações do dataset (banco de dados)
dataset_ref = client.dataset('loja2_bd') # Nome  do dataset chamado 'soulcode_bd'
dataset = bigquery.Dataset(dataset_ref)
dataset.location = 'US' # Substituir pela localização preferida

# Criar o Dataset
try:
  dataset = client.create_dataset(dataset) # Cria o dataset
  print(f"Dataset {dataset.dataset_id} criado com sucesso!")
except Exception as e:
  print(f"Ocorreu um erro: {e}")

Ocorreu um erro: 409 POST https://bigquery.googleapis.com/bigquery/v2/projects/soulcode-estudo/datasets?prettyPrint=false: Already Exists: Dataset soulcode-estudo:loja2_bd

In [ ]:
#-------------------------------------------------------------------------------
#Criando a tabela através table_id = 'categorias'
#-------------------------------------------------------------------------------

# Instalar as bibliotecas
!pip install pandas
!pip install google-cloud-bigquery
!pip install gcsfs

# Autenticar como cliente no GCP
from google.colab import auth
auth.authenticate_user()

# Configurar o cliente BigQuery
from google.cloud import bigquery

# Criação do cliente BigQuery
client = bigquery.Client()

# Leitura do CSV e carregar em um DataFrame Pandas
import pandas as pd
# Leitura do arquivo CSV para um DataFrame do Pandas
df = pd.read_csv('/content/loja.csv')

# Exibir
print(df.head())

# Enviar do DataFrame para o BigQuery
# Definição do ID do projeto, conjunto de dados e tabela
project_id = 'soulcode-estudo'
dataset_id = 'loja2_bd'  # Use underscore em vez de hífen
table_id = 'categorias'

# Envio do DataFrame para o BigQuery
table_ref = f'{project_id}.{dataset_id}.{table_id}'
df.to_gbq(destination_table=table_ref, project_id=project_id, if_exists='replace')

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: google-cloud-bigquery in /usr/local/lib/python3.10/dist-packages (3.25.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (2.19.2)
Requirement already satisfied: google-auth<3.0.0dev,>=2.14.1 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (2.27.0)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=20.0.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (24.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (2.32.3)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.65.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (3.20.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.24.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.64.1)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.48.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2024.8.30)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (0.6.1)
Requirement already satisfied: gcsfs in /usr/local/lib/python3.10/dist-packages (2024.6.1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.10/dist-packages (from gcsfs) (3.10.9)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.10/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: fsspec==2024.6.1 in /usr/local/lib/python3.10/dist-packages (from gcsfs) (2024.6.1)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.10/dist-packages (from gcsfs) (2.27.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.10/dist-packages (from gcsfs) (1.2.1)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.10/dist-packages (from gcsfs) (2.8.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from gcsfs) (2.32.3)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (2.4.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.13.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (4.0.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.2->gcsfs) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.2->gcsfs) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.2->gcsfs) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage->gcsfs) (2.19.2)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage->gcsfs) (2.4.1)
Requirement already satisfied: google-resumable-media>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage->gcsfs) (2.7.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->gcsfs) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->gcsfs) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->gcsfs) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->gcsfs) (2024.8.30)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (1.65.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (3.20.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (1.24.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-resumable-media>=2.3.2->google-cloud-storage->gcsfs) (1.6.0)
Requirement already satisfied: typing-extensions>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from multidict<7.0,>=4.5->aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (4.12.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.2)
   Unnamed: 0  id_venda  id_produto  quantidade  id_cliente  id_funcionario  \
0           0         1           1           2           1               1
1           1         2           3           1           2               2
2           2         3           5           1           3               1
3           3         4           2           1           4               3
4           4         5           4           3           5               2

         data
0  2024-07-01
1  2024-07-02
2  2024-07-03
3  2024-07-04
4  2024-07-05

<ipython-input-43-5b74b1ead9ef>:36: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  df.to_gbq(destination_table=table_ref, project_id=project_id, if_exists='replace')
100%|██████████| 1/1 [00:00<00:00, 7869.24it/s]

In [ ]:
#-------------------------------------------------------------------------------
#inserindo a colunas da tabela categoria no bigquery
#-------------------------------------------------------------------------------
from google.cloud import bigquery

# Definir o ID do projeto Google Cloud
project_id = "soulcode-estudo" # Substitua pelo Id do seu projeto no Google Cloud

# Criar um cliente para o BigQuery
client = bigquery.Client(project=project_id)

# Referenciar o dataset
dataset_id = 'loja_bd' # Nome do dataset criado dentro do Bigquery
dataset_ref = client.dataset(dataset_id)

#Definir o esquema para a tabela Departamento
schema_categorias = [
    bigquery.SchemaField("id_categoria", "INTEGER", mode="REQUIRED"), #Número do departamento
    bigquery.SchemaField("nome", "STRING", mode="REQUIRED"), #Nome do departamento
]
#Criar a tabela departamento com numdepto como chave única (equivalente chave primária)
table_id_categorias = f"{project_id}.{dataset_id}.categorias" # soulcode-analise.soulcode_bd.departamento
table_categorias = bigquery.Table(table_id_categorias, schema=schema_categorias)

try:
  table_categorias = client.create_table(table_categorias) # Cria a tabela
  print(f"Tabela {table_categorias.table_id} criada com sucesso!")
except Exception as e:
  print(f"Ocorreu um erro: {e}")

Ocorreu um erro: 404 POST https://bigquery.googleapis.com/bigquery/v2/projects/soulcode-estudo/datasets/loja_bd/tables?prettyPrint=false: Not found: Dataset soulcode-estudo:loja_bd

In [ ]:
#-------------------------------------------------------------------------------
#Instalando as bibliotecas
#-------------------------------------------------------------------------------
!pip install pymongo
!pip install mysql-connector-python
!pip install pandas

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.7.0)
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (9.0.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
#-------------------------------------------------------------------------------
#Conexão com o banco de dados MySQL tabela categorias
#-------------------------------------------------------------------------------
import mysql.connector
import pandas as pd

# Conectar ao MySQL
mysql_conn = mysql.connector.connect(
    host="34.30.0.189",      # Substitua pelo seu host do MySQL
    user="alberes",    # Substitua pelo seu nome de usuário do MySQL
    password="AlbGabi233799",  # Substitua pela sua senha do MySQL
    database="bd_loja2"  # Nome do banco de dados MySQL
)

# Consultar uma tabela MySQL e transformar em DataFrame
query = "SELECT * FROM categorias"  # Substitua pelo nome da tabela
df = pd.read_sql(query, mysql_conn)

# Exibir os primeiros registros para verificar
print(df.head())

   id_categoria         nome
0             1  Eletrônicos
1             2       Roupas
2             3    Alimentos
3             4       Móveis
4             5   Cosméticos

<ipython-input-54-766873b8c699>:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mysql_conn)

In [ ]:
#-------------------------------------------------------------------------------
#Conexão com o banco de dados MongoDB
#-------------------------------------------------------------------------------

from pymongo import MongoClient

# Conectar ao MongoDB
client = MongoClient("mongodb+srv://jlsgo:Pythonmongo@soulcode-cluster.7enke.mongodb.net/?retryWrites=true&w=majority&appName=soulcode-cluster")
db = client["lojas_bd"]  # Substitua pelo nome do banco no MongoDB
collection = db["categorias"]  # Substitua pelo nome da coleção

# Converter DataFrame para dicionários, que são compatíveis com o MongoDB
dados = df.to_dict(orient="records")

# Inserir dados no MongoDB
collection.insert_many(dados)

print("Migração concluída com sucesso!")

Migração concluída com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
# Verificar alguns documentos inseridos no MongoDB
#-------------------------------------------------------------------------------
for documento in collection.find().limit(5):
    print(documento)

{'_id': ObjectId('6707ddf7dcb1f5750389c4e0'), 'id_categoria': 1, 'nome': 'Eletrônicos'}
{'_id': ObjectId('6707ddf7dcb1f5750389c4e1'), 'id_categoria': 2, 'nome': 'Roupas'}
{'_id': ObjectId('6707ddf7dcb1f5750389c4e2'), 'id_categoria': 3, 'nome': 'Alimentos'}
{'_id': ObjectId('6707ddf7dcb1f5750389c4e3'), 'id_categoria': 4, 'nome': 'Móveis'}
{'_id': ObjectId('6707ddf7dcb1f5750389c4e4'), 'id_categoria': 5, 'nome': 'Cosméticos'}

In [ ]:
#-------------------------------------------------------------------------------
#Conexão com o MySQL na tabela clientes
#-------------------------------------------------------------------------------

import mysql.connector
import pandas as pd

# Conectar ao MySQL
mysql_conn = mysql.connector.connect(
    host="34.30.0.189",      # Substitua pelo seu host do MySQL
    user="alberes",    # Substitua pelo seu nome de usuário do MySQL
    password="AlbGabi233799",  # Substitua pela sua senha do MySQL
    database="bd_loja2"  # Nome do banco de dados MySQL
)

# Consultar uma tabela MySQL e transformar em DataFrame
query = "SELECT * FROM clientes"  # Substitua pelo nome da tabela
df = pd.read_sql(query, mysql_conn)

# Exibir os primeiros registros para verificar
display(df.head())

<ipython-input-57-b61ee932ea61>:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mysql_conn)

,id_cliente,nome,telefone,cidade,email,genero,endereco,renda,data_nascimento
0,1,João Silva,(11) 98765-4321,São Paulo,joao@email.com,Masculino,"Rua A, 123",5000.0,1980-05-10
1,2,Maria Santos,(21) 98765-5432,Rio de Janeiro,maria@email.com,Feminino,"Av. B, 456",4000.0,1985-08-15
2,3,Carlos Oliveira,(31) 98765-6543,Belo Horizonte,carlos@email.com,Masculino,"Rua C, 789",4500.0,1982-03-25
3,4,Ana Souza,(51) 98765-7654,Porto Alegre,ana@email.com,Feminino,"Av. D, 987",3800.0,1990-12-08
4,5,Pedro Santos,(41) 98765-8765,Curitiba,pedro@email.com,Masculino,"Rua E, 654",6000.0,1975-09-14

In [ ]:
#-------------------------------------------------------------------------------
#Migrando os dados da tabela clientes do MySQL para o MongoDB
#-------------------------------------------------------------------------------

import pandas as pd
from pymongo import MongoClient
from datetime import datetime

# Exemplo: se a coluna de data no DataFrame for chamada 'data_de_nascimento', converta-a
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'])

# Conectar ao MongoDB
client = MongoClient("mongodb+srv://jlsgo:Pythonmongo@soulcode-cluster.7enke.mongodb.net/?retryWrites=true&w=majority&appName=soulcode-cluster")
db = client["lojas_bd"]
collection = db["clientes"]

# Converter DataFrame para dicionários, que são compatíveis com o MongoDB
dados = df.to_dict(orient="records")

# Inserir dados no MongoDB
collection.insert_many(dados)

print("Migração concluída com sucesso!")

Migração concluída com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
# Verificar alguns documentos inseridos no MongoDB
#-------------------------------------------------------------------------------
for documento in collection.find().limit(5):
    print(documento)

{'_id': ObjectId('6707ded3dcb1f5750389c50f'), 'id_cliente': 1, 'nome': 'João Silva', 'telefone': '(11) 98765-4321', 'cidade': 'São Paulo', 'email': 'joao@email.com', 'genero': 'Masculino', 'endereco': 'Rua A, 123', 'renda': 5000.0, 'data_nascimento': datetime.datetime(1980, 5, 10, 0, 0)}
{'_id': ObjectId('6707ded3dcb1f5750389c510'), 'id_cliente': 2, 'nome': 'Maria Santos', 'telefone': '(21) 98765-5432', 'cidade': 'Rio de Janeiro', 'email': 'maria@email.com', 'genero': 'Feminino', 'endereco': 'Av. B, 456', 'renda': 4000.0, 'data_nascimento': datetime.datetime(1985, 8, 15, 0, 0)}
{'_id': ObjectId('6707ded3dcb1f5750389c511'), 'id_cliente': 3, 'nome': 'Carlos Oliveira', 'telefone': '(31) 98765-6543', 'cidade': 'Belo Horizonte', 'email': 'carlos@email.com', 'genero': 'Masculino', 'endereco': 'Rua C, 789', 'renda': 4500.0, 'data_nascimento': datetime.datetime(1982, 3, 25, 0, 0)}
{'_id': ObjectId('6707ded3dcb1f5750389c512'), 'id_cliente': 4, 'nome': 'Ana Souza', 'telefone': '(51) 98765-7654', 'cidade': 'Porto Alegre', 'email': 'ana@email.com', 'genero': 'Feminino', 'endereco': 'Av. D, 987', 'renda': 3800.0, 'data_nascimento': datetime.datetime(1990, 12, 8, 0, 0)}
{'_id': ObjectId('6707ded3dcb1f5750389c513'), 'id_cliente': 5, 'nome': 'Pedro Santos', 'telefone': '(41) 98765-8765', 'cidade': 'Curitiba', 'email': 'pedro@email.com', 'genero': 'Masculino', 'endereco': 'Rua E, 654', 'renda': 6000.0, 'data_nascimento': datetime.datetime(1975, 9, 14, 0, 0)}

In [ ]:
#-------------------------------------------------------------------------------
#Conexão com o MySQL na tabela fornecedores
#-------------------------------------------------------------------------------
import mysql.connector
import pandas as pd

# Conectar ao MySQL
mysql_conn = mysql.connector.connect(
    host="34.30.0.189",      # Substitua pelo seu host do MySQL
    user="alberes",    # Substitua pelo seu nome de usuário do MySQL
    password="AlbGabi233799",  # Substitua pela sua senha do MySQL
    database="bd_loja2"  # Nome do banco de dados MySQL
)

# Consultar uma tabela MySQL e transformar em DataFrame
query = "SELECT * FROM fornecedores"  # Substitua pelo nome da tabela
df = pd.read_sql(query, mysql_conn)

# Exibir os primeiros registros para verificar
display(df.head())

<ipython-input-62-eabb31b40023>:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mysql_conn)

   id_fornecedor          nome          cidade    endereco  cnpj
0              1  Fornecedor A       São Paulo  Rua G, 234  1234
1              2  Fornecedor B  Rio de Janeiro  Av. H, 567  9876
2              3  Fornecedor C  Belo Horizonte  Rua I, 890  5678

In [ ]:
#-------------------------------------------------------------------------------
#Migrando os dados da tabela fornecedores do MySQL para o MongoDB
#-------------------------------------------------------------------------------

from pymongo import MongoClient

# Conectar ao MongoDB
client = MongoClient("mongodb+srv://jlsgo:Pythonmongo@soulcode-cluster.7enke.mongodb.net/?retryWrites=true&w=majority&appName=soulcode-cluster")
db = client["lojas_bd"]  # Substitua pelo nome do banco no MongoDB
collection = db["fornecedores"]  # Substitua pelo nome da coleção

# Converter DataFrame para dicionários, que são compatíveis com o MongoDB
dados = df.to_dict(orient="records")

# Inserir dados no MongoDB
collection.insert_many(dados)

print("Migração concluída com sucesso!")

Migração concluída com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
# Verificar alguns documentos inseridos no MongoDB
#-------------------------------------------------------------------------------
for documento in collection.find().limit(5):
    print(documento)

{'_id': ObjectId('6707df37dcb1f5750389c538'), 'id_fornecedor': 1, 'nome': 'Fornecedor A', 'cidade': 'São Paulo', 'endereco': 'Rua G, 234', 'cnpj': 1234}
{'_id': ObjectId('6707df37dcb1f5750389c539'), 'id_fornecedor': 2, 'nome': 'Fornecedor B', 'cidade': 'Rio de Janeiro', 'endereco': 'Av. H, 567', 'cnpj': 9876}
{'_id': ObjectId('6707df37dcb1f5750389c53a'), 'id_fornecedor': 3, 'nome': 'Fornecedor C', 'cidade': 'Belo Horizonte', 'endereco': 'Rua I, 890', 'cnpj': 5678}

In [ ]:
#-------------------------------------------------------------------------------
#Conexão com o MySQL na tabela funcionarios
#-------------------------------------------------------------------------------
import mysql.connector
import pandas as pd

# Conectar ao MySQL
mysql_conn = mysql.connector.connect(
    host="34.30.0.189",      # Substitua pelo seu host do MySQL
    user="alberes",    # Substitua pelo seu nome de usuário do MySQL
    password="AlbGabi233799",  # Substitua pela sua senha do MySQL
    database="bd_loja2"  # Nome do banco de dados MySQL
)

# Consultar uma tabela MySQL e transformar em DataFrame
query = "SELECT * FROM funcionarios"  # Substitua pelo nome da tabela
df = pd.read_sql(query, mysql_conn)

# Exibir os primeiros registros para verificar
display(df.head())

<ipython-input-65-509c52be820b>:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mysql_conn)

,id_funcionario,nome,data_nascimento,genero,estado_civil,dependentes,cargo,salario
0,1,Fernando Silva,1982-07-15,Masculino,Casado,2,Vendedor,3500.0
1,2,Aline Costa,1980-12-20,Feminino,Solteira,0,Gerente,6000.0
2,3,Marcos Oliveira,1975-03-10,Masculino,Divorciado,1,Caixa,2800.0
3,4,Patrícia Souza,1988-06-05,Feminino,Solteira,0,Vendedora,3200.0
4,5,Rafael Martins,1983-09-18,Masculino,Casado,3,Gerente,6500.0

In [ ]:
#-------------------------------------------------------------------------------
#Migrando os dados da tabela funcionarios do MySQL para o MongoDB
#-------------------------------------------------------------------------------

import pandas as pd
from pymongo import MongoClient
from datetime import datetime

# Exemplo: se a coluna de data no DataFrame for chamada 'data_de_nascimento', converta-a
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'])

# Conectar ao MongoDB
client = MongoClient("mongodb+srv://jlsgo:Pythonmongo@soulcode-cluster.7enke.mongodb.net/?retryWrites=true&w=majority&appName=soulcode-cluster")
db = client["lojas_bd"]
collection = db["funcionarios"]

# Converter DataFrame para dicionários, que são compatíveis com o MongoDB
dados = df.to_dict(orient="records")

# Inserir dados no MongoDB
collection.insert_many(dados)

print("Migração concluída com sucesso!")

Migração concluída com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
# Verificar alguns documentos inseridos no MongoDB
#-------------------------------------------------------------------------------
for documento in collection.find().limit(5):
    print(documento)

{'_id': ObjectId('6707df97dcb1f5750389c53c'), 'id_funcionario': 1, 'nome': 'Fernando Silva', 'data_nascimento': datetime.datetime(1982, 7, 15, 0, 0), 'genero': 'Masculino', 'estado_civil': 'Casado', 'dependentes': 2, 'cargo': 'Vendedor', 'salario': 3500.0}
{'_id': ObjectId('6707df97dcb1f5750389c53d'), 'id_funcionario': 2, 'nome': 'Aline Costa', 'data_nascimento': datetime.datetime(1980, 12, 20, 0, 0), 'genero': 'Feminino', 'estado_civil': 'Solteira', 'dependentes': 0, 'cargo': 'Gerente', 'salario': 6000.0}
{'_id': ObjectId('6707df97dcb1f5750389c53e'), 'id_funcionario': 3, 'nome': 'Marcos Oliveira', 'data_nascimento': datetime.datetime(1975, 3, 10, 0, 0), 'genero': 'Masculino', 'estado_civil': 'Divorciado', 'dependentes': 1, 'cargo': 'Caixa', 'salario': 2800.0}
{'_id': ObjectId('6707df97dcb1f5750389c53f'), 'id_funcionario': 4, 'nome': 'Patrícia Souza', 'data_nascimento': datetime.datetime(1988, 6, 5, 0, 0), 'genero': 'Feminino', 'estado_civil': 'Solteira', 'dependentes': 0, 'cargo': 'Vendedora', 'salario': 3200.0}
{'_id': ObjectId('6707df97dcb1f5750389c540'), 'id_funcionario': 5, 'nome': 'Rafael Martins', 'data_nascimento': datetime.datetime(1983, 9, 18, 0, 0), 'genero': 'Masculino', 'estado_civil': 'Casado', 'dependentes': 3, 'cargo': 'Gerente', 'salario': 6500.0}

In [ ]:
#-------------------------------------------------------------------------------
#Conexão com o MySQL na tabela vendas
#-------------------------------------------------------------------------------

import mysql.connector
import pandas as pd

# Conectar ao MySQL
mysql_conn = mysql.connector.connect(
    host="34.30.0.189",      # Substitua pelo seu host do MySQL
    user="alberes",    # Substitua pelo seu nome de usuário do MySQL
    password="AlbGabi233799",  # Substitua pela sua senha do MySQL
    database="bd_loja2"  # Nome do banco de dados MySQL
)

# Consultar uma tabela MySQL e transformar em DataFrame
query = "SELECT * FROM vendas"  # Substitua pelo nome da tabela
df = pd.read_sql(query, mysql_conn)

# Exibir os primeiros registros para verificar
display(df.head())

<ipython-input-68-0055980cbeb1>:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mysql_conn)

   id_venda  id_produto  quantidade  id_cliente  id_funcionario        data
0         1           1           2           1               1  2024-07-01
1         2           3           1           2               2  2024-07-02
2         3           5           1           3               1  2024-07-03
3         4           2           1           4               3  2024-07-04
4         5           4           3           5               2  2024-07-05

In [ ]:
#-------------------------------------------------------------------------------
#Migrando os dados da tabela vendas do MySQL para o MongoDB
#-------------------------------------------------------------------------------

import pandas as pd
from pymongo import MongoClient
from datetime import datetime

# Exemplo: se a coluna de data no DataFrame for chamada 'data_de_nascimento', converta-a
df['data'] = pd.to_datetime(df['data'])

# Conectar ao MongoDB
client = MongoClient("mongodb+srv://jlsgo:Pythonmongo@soulcode-cluster.7enke.mongodb.net/?retryWrites=true&w=majority&appName=soulcode-cluster")
db = client["lojas_bd"]
collection = db["vendas"]

# Converter DataFrame para dicionários, que são compatíveis com o MongoDB
dados = df.to_dict(orient="records")

# Inserir dados no MongoDB
collection.insert_many(dados)

print("Migração concluída com sucesso!")

Migração concluída com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
# Verificar alguns documentos inseridos no MongoDB
#-------------------------------------------------------------------------------
for documento in collection.find().limit(5):
    print(documento)

{'_id': ObjectId('6707dff4dcb1f5750389c547'), 'id_venda': 1, 'id_produto': 1, 'quantidade': 2, 'id_cliente': 1, 'id_funcionario': 1, 'data': datetime.datetime(2024, 7, 1, 0, 0)}
{'_id': ObjectId('6707dff4dcb1f5750389c548'), 'id_venda': 2, 'id_produto': 3, 'quantidade': 1, 'id_cliente': 2, 'id_funcionario': 2, 'data': datetime.datetime(2024, 7, 2, 0, 0)}
{'_id': ObjectId('6707dff4dcb1f5750389c549'), 'id_venda': 3, 'id_produto': 5, 'quantidade': 1, 'id_cliente': 3, 'id_funcionario': 1, 'data': datetime.datetime(2024, 7, 3, 0, 0)}
{'_id': ObjectId('6707dff4dcb1f5750389c54a'), 'id_venda': 4, 'id_produto': 2, 'quantidade': 1, 'id_cliente': 4, 'id_funcionario': 3, 'data': datetime.datetime(2024, 7, 4, 0, 0)}
{'_id': ObjectId('6707dff4dcb1f5750389c54b'), 'id_venda': 5, 'id_produto': 4, 'quantidade': 3, 'id_cliente': 5, 'id_funcionario': 2, 'data': datetime.datetime(2024, 7, 5, 0, 0)}

In [ ]:
#-------------------------------------------------------------------------------
#Conexão com o MySQL na tabela produtos
#-------------------------------------------------------------------------------

import mysql.connector
import pandas as pd

# Conectar ao MySQL
mysql_conn = mysql.connector.connect(
    host="34.30.0.189",      # Substitua pelo seu host do MySQL
    user="alberes",    # Substitua pelo seu nome de usuário do MySQL
    password="AlbGabi233799",  # Substitua pela sua senha do MySQL
    database="bd_loja2"  # Nome do banco de dados MySQL
)

# Consultar uma tabela MySQL e transformar em DataFrame
query = "SELECT * FROM produtos"  # Substitua pelo nome da tabela
df = pd.read_sql(query, mysql_conn)

# Exibir os primeiros registros para verificar
display(df.head())

<ipython-input-71-1edd73e850e9>:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mysql_conn)

   id_produto            nome   preco  id_categoria  id_fornecedor
0           1    Smartphone X  1500.0             1              1
1           2      Notebook Y  3000.0             1              2
2           3      Camiseta Z    50.0             2              3
3           4  Arroz Integral    10.0             3              3
4           5    Sofá Confort  2500.0             4              1

In [ ]:
#-------------------------------------------------------------------------------
#Migrando os dados da tabela produtos do MySQL para o MongoDB
#-------------------------------------------------------------------------------

from pymongo import MongoClient

# Conectar ao MongoDB
client = MongoClient("mongodb+srv://jlsgo:Pythonmongo@soulcode-cluster.7enke.mongodb.net/?retryWrites=true&w=majority&appName=soulcode-cluster")
db = client["lojas_bd"]  # Substitua pelo nome do banco no MongoDB
collection = db["produtos"]  # Substitua pelo nome da coleção

# Converter DataFrame para dicionários, que são compatíveis com o MongoDB
dados = df.to_dict(orient="records")

# Inserir dados no MongoDB
collection.insert_many(dados)

print("Migração concluída com sucesso!")

Migração concluída com sucesso!

In [ ]:
#-------------------------------------------------------------------------------
# Verificar alguns documentos inseridos no MongoDB
#-------------------------------------------------------------------------------
for documento in collection.find().limit(5):
    print(documento)

{'_id': ObjectId('6707e078dcb1f5750389c5c3'), 'id_produto': 1, 'nome': 'Smartphone X', 'preco': 1500.0, 'id_categoria': 1, 'id_fornecedor': 1}
{'_id': ObjectId('6707e078dcb1f5750389c5c4'), 'id_produto': 2, 'nome': 'Notebook Y', 'preco': 3000.0, 'id_categoria': 1, 'id_fornecedor': 2}
{'_id': ObjectId('6707e078dcb1f5750389c5c5'), 'id_produto': 3, 'nome': 'Camiseta Z', 'preco': 50.0, 'id_categoria': 2, 'id_fornecedor': 3}
{'_id': ObjectId('6707e078dcb1f5750389c5c6'), 'id_produto': 4, 'nome': 'Arroz Integral', 'preco': 10.0, 'id_categoria': 3, 'id_fornecedor': 3}
{'_id': ObjectId('6707e078dcb1f5750389c5c7'), 'id_produto': 5, 'nome': 'Sofá Confort', 'preco': 2500.0, 'id_categoria': 4, 'id_fornecedor': 1}