### 01 - Filtrar por idade maior que 50 anos

In [ ]:
import pandas as pd
from IPython.display import display

#  ler dados de um arquivo .csv
df = pd.read_csv("/content/Base de dados - Dados sobre desgaste de funcionarios.csv")
#display(df)

# 01 - Filtrar por idade maior que 50 anos
df_filtro_idade = df[df["Idade"]>50]
display(df_filtro_idade)

### 02 - Filtrar por sexo feminino

In [ ]:
import pandas as pd
from IPython.display import display

#  ler dados de um arquivo .csv
df = pd.read_csv("/content/Base de dados - Dados sobre desgaste de funcionarios.csv")
#display(df)
# 02 - Filtrar por sexo feminino
df_filtro_genero = df[df["Gênero"]=="Feminino"]
print(f"Gênero Feminino" )
display(df_filtro_genero)

### 03 - Remover Duplicatas

In [ ]:
import pandas as pd
from IPython.display import display

### 03 - Remover Duplicatas
df = df.drop_duplicates()
display(df)

### 04 - Classificação e Ordenação por Idade

In [ ]:
import pandas as pd
from IPython.display import display

# 04 - Classificação e Ordenação por Idade
df = df.sort_values(by='Idade', ascending=True)
display(df)

### 05 - Filtrar menores de 19 anos

In [ ]:
import pandas as pd
from IPython.display import display


# 05 - Filtrar menores de 19 anos
df_menores_19 = df[df['Idade'] < 19]
display(df_menores_19)

### 06 -  Agrupar por Departamento

In [ ]:
import pandas as pd
from IPython.display import display

# 06 -  Agrupar por Departamento
grupos_por_departamento = df.groupby('Departamento')

for nome_departamento, grupo in grupos_por_departamento:
    print(f"Departamento: {nome_departamento}")
    display(grupo)

### 07 - Agrupar por Área de Formação

In [ ]:
import pandas as pd
from IPython.display import display

# 07 - Agrupar por Área de Formação
grupos_por_area_formacao = df.groupby('Área de Formação')
for area, grupo in grupos_por_area_formacao:
    print(f"Área de Formação: {area}")
    display(grupo)

### 08 - Agrupar por Gênero

In [ ]:
import pandas as pd
from IPython.display import display

# 08 - Agrupar por Gênero
grupos_por_genero = df.groupby('Gênero')
for genero, grupo in grupos_por_genero:
     print(f"Gênero: {genero}")
     display(grupo)

### 09 - Nivel de Escolaridade

In [ ]:
import pandas as pd
from IPython.display import display

# 09 - Nivel de Escolaridade
nivel_escolaridade = df['Escolaridade' ].value_counts()
print("Nivel de Escolaridade")
display(nivel_escolaridade)

### 10 - Agrupar por Cargo e calcular a média dos salários mensais e o número de funcionários

In [ ]:
import pandas as pd
from IPython.display import display

# 10 - Agrupar por Cargo e calcular a média dos salários mensais e o número de funcionários
relatorio_salario_por_cargo = df.groupby('Cargo')['Salário Mensal'].agg(['mean', 'count'])
# Renomear as colunas para facilitar a leitura
relatorio_salario_por_cargo.columns = ['Média Salarial', 'Número de Funcionários']
#Ordenar pela Média Salarial, da maior para a menor
relatorio_salario_por_cargo = relatorio_salario_por_cargo.sort_values(by='Média Salarial', ascending=False)
display(relatorio_salario_por_cargo)

### 11 - Agrupar por Cargo  e calcular a satisfação com o trabalho e o numero de funcionários

In [ ]:
import pandas as pd
from IPython.display import display

# 11 - Agrupar por Cargo  e calcular a satisfação com o trabalho e o numero de funcionários
relatorio_satisfacao_por_cargo = df.groupby("Cargo")["Satisfação com o trabalho"].agg(["mean", "count"])
# Renomear as colunas
relatorio_satisfacao_por_cargo.columns = ["Média Satisfação", "Número de Funcionários"]
# Ordenar pela Média de Satisfação
relatorio_satisfacao_por_cargo = relatorio_satisfacao_por_cargo.sort_values(by="Média Satisfação", ascending=False)
print("Relação entre o cargo e a Satisfação com o trabalho ")
display(relatorio_satisfacao_por_cargo)

### 12 - Agrupar por Gênero e calcular a média de Satisfação com o Trabalho

In [ ]:
import pandas as pd
from IPython.display import display

# 12 - Agrupar por Gênero e calcular a média de Satisfação com o Trabalho
relacao_genero_satisfacao = df.groupby('Gênero')['Satisfação com o trabalho'].agg(["mean", "count"])

# Exibir o resultado
display(relacao_genero_satisfacao)

### 13 - Relação entre Gênero  e o quanto ganha de Salário  por hora

In [ ]:
import pandas as pd
from IPython.display import display


# 13 - Relação entre Gênero  e o quanto ganha de Salário  por hora
relacao_genero_salario = df.groupby("Gênero")["Salário por hora"].agg(["mean", "count"])

display(relacao_genero_salario)

### 14 - Relação entre quem faz Viagem de negócios e Departamento em que trabalha

In [ ]:
import pandas as pd
from IPython.display import display

# 14 - Relação entre quem faz Viagem de negócios e Departamento em que trabalha
relacao_viagem_departamento = df.groupby("Viagem de negócios")["Departamento"].value_counts()
display(relacao_viagem_departamento)

### 15 - Fitrar por trabalhadores em idade ou proximo de se aposentar e seu departamento e gênero

In [ ]:
import pandas as pd
from IPython.display import display

# 15 - Fitrar por trabalhadores em idade ou proximo de se aposentar e seu departamento e gênero
df_filtro_anos_trabalhado_departamento = df[df["Total de anos trabalhados"] > 28]
df_ordenado = df_filtro_anos_trabalhado_departamento[["Total de anos trabalhados", "Departamento", "Gênero"]]
display(df_ordenado)

### 16 - Renomear nome de coluna

In [ ]:
import pandas as pd
from IPython.display import display

# 16 - Renomear nome de coluna
df = df.rename(columns={"Qtde de treinamentos realizados no último ano": "Treinamentos"})
display(df)

### 17 -  Agrupar por Treinamentos e Demissão e contar as ocorrências

In [ ]:
import pandas as pd
from IPython.display import display

# 16 - Renomear nome de coluna
df = df.rename(columns={"Qtde de treinamentos realizados no último ano": "Treinamentos"})
display(df)

# 17 -  Agrupar por Treinamentos e Demissão e contar as ocorrências
relacao_treinamentos_demissao = df.groupby(['Treinamentos', 'Demissão']).size().reset_index(name='Contagem')
display(relacao_treinamentos_demissao )

### 18 -  Criar uma nova coluna 'faixa_etaria' baseada na idade

In [ ]:
import pandas as pd
from IPython.display import display

# 18 -  Criar uma nova coluna 'faixa_etaria' baseada na idade
df['faixa_etaria'] = df['Idade'].apply(lambda x: 'Adulto' if x < 60 else 'Idoso')
display(df)

### 19 - Filtrar por idade, equilíbrio  de vida e satisfação com o trabalho

In [ ]:
import pandas as pd
from IPython.display import display

# 19 - Filtrar por idade, equilíbrio  de vida e satisfação com o trabalho
df_ordenado = df[["Idade", "Equilíbrio vida trabalho", "Satisfação com o trabalho"  ]]
display(df_ordenado)

In [ ]:
import pandas as pd
from IPython.display import display

# 20 - Adicionar a coluna com a categorização
df_agrupado = df
def categorizar(row):
  if row['Total de anos trabalhados'] > 0 and row['Total de anos trabalhados'] <=12:
    return 'Novato'
  elif row['Total de anos trabalhados'] > 12 and row['Total de anos trabalhados'] <=20:
    return 'Intermédiário'
  elif row['Total de anos trabalhados'] > 20:
    return 'Vetereno'
  else:
    return 'Sem experiência'

df_agrupado['Total de anos trabalhados'] = df_agrupado.apply(categorizar, axis=1)
display(df_agrupado)

### 21 - Drop na coluna

In [ ]:
import pandas as pd
from IPython.display import display

# 18 -  Criar uma nova coluna 'faixa_etaria' baseada na idade
df['faixa_etaria'] = df['Idade'].apply(lambda x: 'Adulto' if x < 60 else 'Idoso')
#display(df)
# 21 - Drop na coluna
df = df.drop(columns=["faixa_etaria"])
display(df)