# 1 - Variáveis e Tipos de Dados

'''
1.1. Crie variáveis para armazenar o nome, idade, peso e altura de uma pessoa.
Imprima os valores e os tipos de dados dessas variáveis.
'''

In [ ]:

nome = "jhon"
idade = 32
peso = 82
altura = 1.79

print("Nome:", nome, "Tipo:", type (nome))
print("Idade: ", idade, "Tipo:", type(idade))
print("Peso:", peso, "Tipo:", type(peso))
print("Altura:", altura, "Tipo:" , type(altura) )

Nome: jhon Tipo: <class 'str'>
Idade:  32 Tipo: <class 'int'>
Peso: 82 Tipo: <class 'int'>
Altura: 1.79 Tipo: <class 'float'>

'''
1.2. Atualize a variável de peso para um valor diferente e imprima o novo valor.
'''

In [ ]:


peso = 82
peso = 80.0
print(peso , type(peso))

80.0 <class 'float'>

# 2 - Operadores Matemáticos

'''
2.1. Crie uma variável a com valor 10 e uma variável b com valor 3. Realize as
seguintes operações e imprima os resultados:
Soma
Subtração
Multiplicação
Divisão
Parte inteira da divisão
Resto da divisão
Exponenciação
'''

In [ ]:




a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b )
print(a // b) # Divisão inteira
print(a % b ) # Resto da divisão
print(a ** b  )  # Exponenciação

13
7
30
3.3333333333333335
3
1
1000

# 3 - Entrada de Dados pelo Usuário

'''
3.1. Peça ao usuário para digitar seu nome e armazene em uma variável. Imprima
uma mensagem de boas-vindas usando o nome fornecido.
'''

In [ ]:



nome = input("Digite seu nome: ")
print("Boas vindas,", nome)

Digite seu nome: jh
Boas vindas, jh

'''
3.2. Peça ao usuário para digitar sua idade, peso e altura. Calcule o IMC e
imprima o resultado arredondado para três casas decimais.
'''

In [ ]:



idade = int(input("Digite sua idade: "))

peso = float(input("Digite seu peso: "))

altura = float(input("Digite sua altura: "))

imc = (peso / (altura ** 2))
imc = round(imc, 3)
print("Seu IMC é: ", imc )

Digite sua idade: 32
Digite seu peso: 82
Digite sua altura: 1.78
Seu IMC é:  25.881

# 4 - Função de Impressão

'''
4.1. Peça ao usuário para digitar um número e imprima o número digitado.
'''

In [ ]:


numero = int(input("Digite um numero: "))
print( numero)

Digite um numero: 66
66

'''
4.2. Peça ao usuário para digitar dois números e imprima a soma deles.
'''

In [ ]:


num1 = int(input("Digite um numero: "))
num2 = int(input("Digite outro numero: "))
soma = soma = (num1 + num2)
print(" A soma do primeiro numero com o segundo numero é: ", soma)

Digite um numero: 12
Digite outro numero: 8
 A soma do primeiro numero com o segundo numero é:  20

# 5 - Métodos de Strings

'''
5.1. Peça ao usuário para digitar um e-mail e verifique se o e-mail contém o
caractere '@'. Imprima uma mensagem indicando se é um e-mail válido ou não.
'''

In [ ]:


mail = input("Digite seu Email: "  )

if  ("@" in mail):
    print("Email Valido!")
else:
    print("Email invalido!")

Digite seu Email: jhon@mail.com
Email Valido!

'''
5.2. Peça ao usuário para digitar uma frase e:
Converta a frase para maiúsculas.
Converta a frase para minúsculas.
Converta a primeira letra de cada palavra para maiúscula.
Verifique se a frase começa com uma determinada palavra (ex.: 'Olá').
'''

In [ ]:



frase =  input("Digite uma frase: ")

print(frase.upper())
print(frase.lower())
print(frase.title())
print(frase.count("hello"))

Digite uma frase: miNhA terRa tem PalmEIRas
MINHA TERRA TEM PALMEIRAS
minha terra tem palmeiras
Minha Terra Tem Palmeiras
0

# 6 - Listas

'''
6.1. Crie uma lista com os nomes de cinco amigos. Imprima o nome do terceiro
amigo na lista.

'''

In [ ]:


lista = ["lucas", "junior", "pedro", "maria", "carlos"]

print(lista[2])

pedro

'''
6.2. Adicione um novo nome à lista de amigos e remova o primeiro nome.
Imprima a lista atualizada.
'''

In [ ]:



lista = ["Lucas", "Junior", "Pedro", "Maria", "Carlos"]

lista.append( "Natan")
lista.remove("Lucas")

print(lista)

['Junior', 'Pedro', 'Maria', 'Carlos', 'Natan']

'''
6.3. Crie uma lista com as idades dos seus amigos e:
Imprima a idade do amigo mais velho.
Imprima a idade do amigo mais novo.
Calcule e imprima a soma das idades.
'''

In [ ]:




lista = ["Lucas", "Junior", "Pedro", "Maria", "Carlos"]
idade = [18, 25, 20, 36, 31]

print(max(idade))

print(min(idade))

print(sum(idade))

36
18
130

# 7 - Tuplas

'''
7.1 Crie uma tupla com as informações de um cliente (nome, idade, peso, altura).
Imprima todas as informações.
'''

In [ ]:


cliente = ("jhon", 32, 82, 1.79) # tupla com as informações do



nome, idade, peso, altura = cliente
print(f"Nome: {nome}")
print(f"Idade: {idade} anos")
print(f"Peso: {peso} kg")
print(f"Altura: {altura} m")

Nome: jhon
Idade: 32 anos
Peso: 82 kg
Altura: 1.79 m

'''
7.2. Crie uma nova tupla concatenando a tupla do exercício anterior com o e-mail
do cliente. Imprima a nova tupla.
'''

In [ ]:


cliente = ("jhon",32, 82, 1.79)
mail = "jhon@mail.com"

cliente = cliente + (mail,)

print(cliente)

('jhon', 32, 82, 1.79, 'jhon@mail.com')

# 8 - Dicionários

'''
8.1. Crie um dicionário com informações de um cliente
(nome, idade, peso, altura). Imprima o valor associado à chave 'nome'.
'''

In [ ]:



pessoa = {
    "nome": "jhon",
    "idade": 32,
    "cidade": "BC"
}
print(pessoa["nome"])

jhon

'''
8.2. Adicione uma nova chave 'email' ao dicionário do exercício anterior e
imprima o dicionário atualizado.
'''

In [ ]:



pessoa = {
    "nome": "jhon",
    "idade": 32,
    "cidade": "BC"
}

pessoa["email"] = "jhon@mail.com"

print(pessoa)

{'nome': 'jhon', 'idade': 32, 'cidade': 'BC', 'email': 'jhon@mail.com'}

'''
8.3. Remova a chave 'peso' do dicionário e verifique se a chave 'endereço' está
no dicionário. Imprima os resultados.
'''

In [ ]:



pessoa = {
    "nome": "jhon",
    "idade": 32,
    "peso": 82,
    "cidade": "BC",
    "email": "jhon@mail.com"
}


pessoa.pop("peso")

print(pessoa)

if "endereco" in pessoa:
    print(pessoa["enereco"])

{'nome': 'jhon', 'idade': 32, 'cidade': 'BC', 'email': 'jhon@mail.com'}

# 9 - Controle de Fluxo


'''
9.1. Peça ao usuário para digitar sua idade e verifique se ele é menor de idade,
 adulto ou idoso. Imprima uma mensagem correspondente.
'''

In [ ]:



idade = int(input("Digite sua idade :  "))
if (idade <= 17):
    print("Você é menor de idade!")
elif (idade >= 18 and idade <= 60):
    print("Você é maior de idade!")
else:
    print("Você é idoso!")

Digite sua idade :  99
Você é idoso!


'''
9.2. Peça ao usuário para digitar uma nota (0 a 100) e imprima se ele foi
aprovado (nota >= 60) ou reprovado.
'''

In [ ]:


nota = int(input("Digite sua nota da prova: "))
if (nota >= 60 and nota <= 100):
    print("Você foi aprovado!")
elif (nota >= 0 and nota <= 59):
    print("Você foi reprovado!")
else:
    print("Valor inválido!")

Digite sua nota da prova: 91
Você foi aprovado!


'''
9.3. Crie uma lista com os nomes de cinco cidades. Use um loop for para imprimir
cada nome de cidade.
'''

In [ ]:



cidades = ["Balneario Camboriu", "Itajai", "Bombinhas",   "Florianopolis", "Joinville" ]

for x in cidades:
    print(x)

Balneario Camboriu
Itajai
Bombinhas
Florianopolis
Joinville

'''
9.4. Crie uma lista com os números de 1 a 10. Use um loop for para imprimir o
quadrado de cada número.
'''

In [ ]:



numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for  numero in numeros:
    print( numero  ** 2)

1
4
9
16
25
36
49
64
81
100

# 10 - Estudo de caso 01

'''
Contexto:
Uma empresa precisa registrar informações sobre seus clientes e calcular o IMC
(Índice de Massa Corporal) de cada um deles. As informações devem ser
armazenadas em um dicionário e exibidas ao final.
'''


'''
Requisitos:
Peça ao usuário para inserir os seguintes dados de um cliente:
Nome
Idade
Peso (em kg)
Altura (em metros)
E-mail
Armazene essas informações em um dicionário.
Calcule o IMC do cliente (IMC = Peso / (Altura * Altura)) e adicione esse valor ao dicionário.
Exiba todas as informações do cliente, incluindo o IMC arredondado para duas casas decimais.

'''

In [ ]:





nome = input("Digite o nome do cliente: ")
idade = int(input("Digite a idade: "))
peso = float(input("Digite o peso do cliente: "))
altura = float(input("Digite o altura do cliente: "))
email = input("Digite o email do cliente: ")

cliente = {"Nome": nome,"Idade": idade,"Peso": peso,"Altura": altura,"Email": email}



imc = peso / (altura * altura )
imc =round(imc,2)

cliente["IMC"] = imc



print(cliente)

Digite o nome do cliente: jhon
Digite a idade: 32
Digite o peso do cliente: 82
Digite o altura do cliente: 1.79
Digite o email do cliente: jhon@mail.com
{'Nome': 'jhon', 'Idade': 32, 'Peso': 82.0, 'Altura': 1.79, 'Email': 'jhon@mail.com', 'IMC': 25.59}

# 11 - Estudo de Caso 02

'''
Contexto:
Uma escola precisa analisar as notas de seus alunos e determinar se cada aluno
foi aprovado ou reprovado. As notas serão armazenadas em uma lista e a análise
deve ser realizada em um loop.
'''

'''
Requisitos:
Peça ao usuário para inserir o nome e a nota de cinco alunos.
Armazene os nomes e as notas em listas separadas.
Para cada aluno, verifique se a nota é maior ou igual a 60. Se sim, o aluno está
aprovado; caso contrário, está reprovado.
Exiba uma mensagem para cada aluno informando seu nome, nota e se foi aprovado
ou reprovado.
'''

In [ ]:



alunos = []
notas = []
for i in range(5):
    aluno = input("Digite o nome do aluno: ")
    nota =  int(input("Digite a nota do aluno: "))
    alunos.append(aluno)
    notas.append(nota)

for i in range(5):
    if notas[i] >= 60:
        print("O aluno", alunos[i],   "foi aprovado!  Com a nota : ", notas[i])
    else:
        print("O aluno", alunos[i], "foi reprovado! com a nota : ", notas[i])

Digite o nome do aluno: leon
Digite a nota do aluno: 50
Digite o nome do aluno: eva
Digite a nota do aluno: 100
Digite o nome do aluno: haku
Digite a nota do aluno: 59
Digite o nome do aluno: silva
Digite a nota do aluno: 70
Digite o nome do aluno: jhon
Digite a nota do aluno: 100
O aluno leon foi reprovado! com a nota :  50
O aluno eva foi aprovado!  Com a nota :  100
O aluno haku foi reprovado! com a nota :  59
O aluno silva foi aprovado!  Com a nota :  70
O aluno jhon foi aprovado!  Com a nota :  100

# 12 - Estudo de caso 03

'''
Contexto
Uma empresa deseja realizar uma pesquisa de opinião com cinco participantes
sobre um novo produto. As respostas devem ser armazenadas e analisadas para
verificar a satisfação dos clientes.
'''

'''
Requisitos
Peça ao usuário para inserir o nome e a opinião (satisfeito/insatisfeito) de
cinco participantes.
Armazene os nomes e as opiniões em um dicionário.
Conte o número de participantes satisfeitos e insatisfeitos.
Exiba a lista de participantes satisfeitos e insatisfeitos, bem como o número
total de cada categoria.
'''

In [ ]:



participantes = {}
satisfeitos = 0
insatisfeitos = 0

for i in range(5):
    nome = input("Digite o  nome do participante:  ")
    opiniao = input("Digite a  opinião do participante. (satisfeito/insatisfeito):  ")
    participantes[nome] = opiniao

for opiniao in participantes.values():
    if opiniao == "satisfeito":
        satisfeitos += 1
    elif opiniao == "insatisfeito":
        insatisfeitos += 1

print("Total de participantes satisfeitos:",  satisfeitos)
print("Total de participantes insatisfeitos:",  insatisfeitos)

print("Lista de participantes satisfeitos:")
for nome, opiniao in participantes.items():
    if opiniao == "satisfeito":
        print(nome)

print("Lista de participantes insatisfeitos: ")
for nome, opiniao in participantes.items():
    if opiniao == "insatisfeito":
        print(nome)

Digite o  nome do participante:  jhon
Digite a  opinião do participante. (satisfeito/insatisfeito):  satisfeito
Digite o  nome do participante:  leon
Digite a  opinião do participante. (satisfeito/insatisfeito):  insatisfeito
Digite o  nome do participante:  eva
Digite a  opinião do participante. (satisfeito/insatisfeito):  insatisfeito
Digite o  nome do participante:  haku
Digite a  opinião do participante. (satisfeito/insatisfeito):  satisfeito
Digite o  nome do participante:  silva
Digite a  opinião do participante. (satisfeito/insatisfeito):  satisfeito
Total de participantes satisfeitos: 3
Total de participantes insatisfeitos: 2
Lista de participantes satisfeitos:
jhon
haku
silva
Lista de participantes insatisfeitos:
leon
eva