### 1. Empregados e seus Departamentos (INNER JOIN)
### - Liste todos os empregados juntamente com o nome de seus departamentos.

In [ ]:
SELECT
  E.NOME AS EMPREGADO_NOME,
  D.NOME AS DEPARTAMENTO_NOME
FROM
  EMPREGADO E INNER JOIN  DEPARTAMENTO D
ON E.NUMDEPTO = D.NUMDEPTO;

### 2. Empregados sem Departamento (LEFT JOIN + IS NULL)
### - Liste todos os empregados que não estão associados a nenhum departamento.

In [ ]:
SELECT
  E.NOME AS EMPREGADO_NOME,
  D.NOME AS DEPARTAMENTO_NOME
FROM
  EMPREGADO E LEFT JOIN DEPARTAMENTO D
ON E.NUMDEPTO = D.NUMDEPTO
WHERE
  D.NUMDEPTO IS NULL;

### 3. Projetos sem Empregados (LEFT JOIN + IS NULL)
### - Liste todos os projetos que não têm empregados associados.

In [ ]:

SELECT
    PROJETO.nome AS projeto_nome
FROM
    PROJETO
LEFT JOIN
    TRABALHA_EM ON PROJETO.codprojeto = TRABALHA_EM.codprojeto
WHERE
    TRABALHA_EM.codprojeto IS NULL;

### 4. Empregados e suas Habilidades (INNER JOIN)
### - Liste todos os empregados juntamente com suas habilidades.

In [ ]:

SELECT
    E.nome AS empregado_nome,
    H.descricao AS habilidade
FROM
    EMPREGADO E
INNER JOIN
    EMPREGADO_HABILIDADE EH ON E.matricula = EH.matricula
INNER JOIN
    HABILIDADE H ON EH.codhabilidade = H.codhabilidade;

### 5. Empregados sem Habilidades (LEFT JOIN + IS NULL)
### - Liste todos os empregados que não têm habilidades associadas.

In [ ]:
SELECT  E.nome
FROM EMPREGADO E
LEFT JOIN EMPREGADO_HABILIDADE EH ON E.matricula = EH.matricula
WHERE EH.matricula IS NULL;

### 6. Departamentos e Número de Empregados (LEFT JOIN + COUNT)
### - Liste todos os departamentos e o número de empregados em cada um.

In [ ]:
SELECT D.numdepto, D.nome, COUNT(E.matricula) AS numero_empregados
FROM DEPARTAMENTO D
LEFT JOIN EMPREGADO E ON D.numdepto = E.numdepto
GROUP BY D.numdepto, D.nome;

### 7. Empregados e seus Projetos (INNER JOIN)
### - Liste todos os empregados juntamente com os projetos em que estão trabalhando.

In [ ]:
SELECT  E.nome AS nome_empregado, P.nome AS nome_projeto
FROM EMPREGADO E
INNER JOIN  TRABALHA_EM T ON E.matricula = T.matricula
INNER JOIN PROJETO P ON T.codprojeto = P.codprojeto;

### 8. Empregados em Projetos Atuais (INNER JOIN + WHERE)
### - Liste todos os empregados que estão trabalhando em projetos que ainda não
### terminaram.

In [ ]:

SELECT  E.nome AS nome_empregado, P.nome AS nome_projeto
FROM EMPREGADO E
INNER JOIN TRABALHA_EM T ON E.matricula = T.matricula
INNER JOIN PROJETO P ON T.codprojeto = P.codprojeto
WHERE P.data_fim IS NULL  OR P.data_fim   >   CURRENT_DATE;

### 9. Projetos e Duração (DATEDIFF)
### - Liste todos os projetos juntamente com a duração em dias (diferente entre data_fim e data_inicio).

In [ ]:
SELECT P.NOME AS projeto, datediff(P.data_fim, P.data_inicio) AS duracao_dias
FROM PROJETO P;

### 10. Empregados com Mais de uma Habilidade (INNER JOIN + HAVING COUNT)
### - Liste todos os empregados que têm mais de uma habilidade.

In [ ]:
SELECT  E.nome  FROM EMPREGADO E
INNER JOIN EMPREGADO_HABILIDADE EH ON E.matricula = EH.matricula
GROUP BY E.matricula, E.nome HAVING COUNT(EH.codhabilidade) > 1;

### 11. Departamentos e Salário Médio (LEFT JOIN + AVG)
### - Liste todos os departamentos juntamente com o salário médio dos empregados
### em cada departamento.

In [ ]:
SELECT D.nome AS DEPARTAMENTO, AVG (E.salario) AS salario_medio
FROM DEPARTAMENTO D
LEFT JOIN EMPREGADO E ON D.numdepto = E.numdepto
GROUP BY D.nome , D.numdepto;

### 12. Empregados e suas Habilidades Ordenadas (INNER JOIN + ORDER BY)
### - Liste todos os empregados juntamente com suas habilidades, ordenando os
### resultados pelo nome do empregado e pela descrição da habilidade.

In [ ]:
SELECT E.nome AS nome_empregado, H.descricao AS habilidade
FROM EMPREGADO E
INNER JOIN EMPREGADO_HABILIDADE EH ON E.matricula = EH.matricula
INNER JOIN HABILIDADE H  ON EH.codhabilidade = H.codhabilidade
ORDER BY E.nome, H.descricao;

### 13. Projetos e Número de Empregados (INNER JOIN + COUNT)

###- Liste todos os projetos juntamente com o número de empregados que estão
### trabalhando em cada projeto.

In [ ]:



SELECT P.nome AS nome_projeto , COUNT(T.matricula) AS numero_empregados
FROM PROJETO P
INNER JOIN TRABALHA_EM T ON P.codprojeto = T.codprojeto
GROUP BY P.codprojeto , P.nome;

### 14. Empregados com Habilidades Específicas (INNER JOIN + WHERE)
###- Liste todos os empregados que possuem uma habilidade específica (por exemplo, "SQL").

In [ ]:
SELECT
 E.nome AS nome_empregado, H.descricao AS habilidade
 FROM EMPREGADO E
 INNER JOIN EMPREGADO_HABILIDADE EH ON E.matricula = EH.matricula
 INNER JOIN HABILIDADE H ON EH.codhabilidade = H.codhabilidade
 WHERE H.descricao = 'SQL Database Management';

### 15. Departamentos sem Empregados (LEFT JOIN + IS NULL)
### - Liste todos os departamentos que não têm empregados associados.

In [ ]:
SELECT D.nome AS nome_departamento
FROM DEPARTAMENTO D
LEFT JOIN EMPREGADO E ON D.numdepto = E.numdepto
WHERE E.numdepto IS NULL;

### 16. Projetos Ativos e seus Empregados (INNER JOIN + WHERE)
### - Liste todos os projetos que ainda estão em andamento e os empregados que
### estão trabalhando neles.

In [ ]:
SELECT P.nome AS nome_projeto , E.matricula , E.nome AS nome_empregado
FROM PROJETO P
INNER JOIN TRABALHA_EM T ON P.codprojeto = T.codprojeto
INNER JOIN EMPREGADO E ON T.matricula = E.matricula
WHERE P.data_fim IS NULL OR P.data_fim > CURRENT_DATE;

### 17. Empregados e suas Habilidades e Projetos (INNER JOIN + Multiple Tables)
### - Liste todos os empregados juntamente com suas habilidades e os projetos em que estão trabalhando.

In [ ]:

SELECT  E.nome AS nome_empregado, H.descricao AS habilidade, P.nome AS nome_projeto
FROM EMPREGADO E
INNER JOIN EMPREGADO_HABILIDADE EH ON E.matricula = EH.matricula
INNER JOIN HABILIDADE H ON EH.codhabilidade = H.codhabilidade
INNER JOIN TRABALHA_EM T ON E.matricula = T.matricula
INNER JOIN PROJETO P ON T.codprojeto = P.codprojeto;

### 18. Projetos e Data de Início mais Recente (INNER JOIN + MAX)
### - Liste todos os projetos juntamente com a data de início mais recente de um
### empregado que começou a trabalhar nesse projeto.

In [ ]:
SELECT  P.nome AS nome_projeto, MAX(T.data_inicio) AS data_inicio_mais_recente
FROM PROJETO P
INNER JOIN TRABALHA_EM T ON P.codprojeto = T.codprojeto
GROUP BY P.codprojeto, P.nome;

### 19. Empregados que Trabalham em Mais de um Projeto (INNER JOIN + HAVING COUNT)
###- Liste todos os empregados que estão trabalhando em mais de um projeto.

In [ ]:

SELECT E.matricula, E.nome
FROM EMPREGADO E
INNER JOIN TRABALHA_EM T ON E.matricula = T.matricula
GROUP BY E.matricula, E.nome
HAVING COUNT(T.codprojeto) > 1;

### 20. Empregados e Departamento, Habilidade e Projeto (Multiple INNER JOINs)
### - Liste todos os empregados juntamente com o nome do departamento, a descrição da habilidade e o nome do projeto em que estão trabalhando.

In [ ]:
SELECT  E.nome AS nome_empregado, D.nome AS nome_departamento, H.descricao AS habilidade, P.nome AS nome_projeto
FROM EMPREGADO E
INNER JOIN DEPARTAMENTO D ON E.numdepto = D.numdepto
INNER JOIN EMPREGADO_HABILIDADE EH ON E.matricula = EH.matricula
INNER JOIN HABILIDADE H ON EH.codhabilidade = H.codhabilidade
INNER JOIN TRABALHA_EM T ON E.matricula = T.matricula
INNER JOIN PROJETO P ON T.codprojeto = P.codprojeto;